@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

html, html::before, html::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 400px) {
  html {
    font-size: 11px; } }

body {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.42;
  color: #2f3234; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -rem(1px);
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.maincontent {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  will-change: transform; }

.section {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem;
  overflow: hidden; }

.section__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 940px;
  height: 100%; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo-wrapper {
  margin-top: 0.8125rem; }

.header__logo {
  position: relative;
  max-width: 100%;
  z-index: 500; }

.header__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem; }
  @media screen and (max-width: 768px) {
    .main-nav {
      display: none; } }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.main-nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-nav__item::after {
    content: '';
    margin-left: 1rem;
    margin-right: 1rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #ffffff; }
  .main-nav__item:last-child::after {
    display: none; }

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }
  .main-nav__link:hover {
    text-decoration: underline; }

.main-nav__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .main-nav__btn:hover {
    background-color: #c1401e; }

.main-nav__hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .main-nav__hamburger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 30px;
      margin-right: 7px; } }

.main-nav__hamburger-line {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.1875rem;
  background-color: #ffffff; }

.section-switch {
  position: fixed;
  top: 5.625rem;
  right: 3rem; }
  @media screen and (max-width: 768px) {
    .section-switch {
      display: none; } }

.section-switch__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.3125rem;
  border: 0.0625rem solid transparent;
  border-radius: 50%;
  cursor: pointer; }
  .section-switch__item::after {
    display: block;
    margin: auto;
    content: '';
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: #ffffff; }
  .section-switch__item--active, .section-switch__item:hover {
    border-color: #ffffff; }

.footer {
  padding: 0.5625rem 0;
  background: #000000 url("../img/bg/footer-bg.jpg") center no-repeat;
  background-size: cover; }
  @media screen and (max-width: 480px) {
    .footer {
      padding: 18px 0; } }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.footer__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .footer__left {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 18px; } }

.footer__right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__right {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer__left-address {
  margin-bottom: 0.1875rem;
  color: #ffffff; }

.footer__left-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e45028;
  text-decoration: none; }

.footer__left-icon {
  height: 0.6875rem;
  width: 0.75rem;
  margin-right: 0.625rem;
  fill: #e45028; }

.footer__right-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem; }

.footer__right-link {
  height: 100%;
  margin-right: 20px; }
  .footer__right-link:last-child {
    margin: 0; }

.footer__right-social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 23px;
  fill: #ffffff;
  fill-opacity: 0.3; }
  .footer__right-social:hover {
    fill-opacity: 1; }

.fullscreen-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(47, 50, 52, 0.9);
  z-index: 100; }

.hamburger-menu__close {
  position: absolute;
  top: 30px;
  right: 19px;
  display: block;
  width: 23px;
  height: 23px;
  cursor: default; }
  .hamburger-menu__close::before, .hamburger-menu__close::after {
    position: absolute;
    top: 0;
    left: 50%;
    height: 23px;
    width: 4px;
    border-radius: 3px;
    background-color: #c1c2c2;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    content: ''; }
  .hamburger-menu__close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .hamburger-menu__close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.fullscreen-menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }

.fullscreen-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 90%;
  list-style: none; }

.fullscreen-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .fullscreen-menu__item::after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    content: ''; }
  .fullscreen-menu__item:last-child::after {
    display: none; }

.fullscreen-menu__link {
  font-weight: 400;
  font-size: 24px;
  line-height: calc(40 / 24);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

.banner {
  position: relative;
  background: url(../img/bg/banner-bg.jpg) no-repeat center;
  background-size: cover; }

.banner__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 76%; }

.banner-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .banner-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.banner-item__image-wrapper {
  width: 50%;
  text-align: right; }
  @media screen and (max-width: 480px) {
    .banner-item__image-wrapper {
      width: 90%; } }

.banner-item__image {
  max-width: 100%; }

.banner-item__text {
  padding-top: 4.375rem;
  padding-left: 0.625rem;
  width: 50%;
  font-size: 4.0625rem;
  font-family: Lifehack, Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .banner-item__text {
      width: 85%;
      padding-top: 1.875rem;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .banner-item__text {
      width: 100%; } }

.banner-item__text-top {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
  display: block;
  margin-bottom: 1rem;
  line-height: 1.18;
  color: #f9b43b; }

.banner__arrow {
  position: absolute;
  bottom: 6%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer; }

.best {
  background: url(../img/bg/promo-bg.jpg) no-repeat center;
  background-size: cover; }

.best__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 69%; }
  @media screen and (max-width: 480px) {
    .best__wrapper {
      height: 90%; } }

.best__heading {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #2f3234;
  margin-top: 3.1875rem;
  margin-bottom: 4rem;
  line-height: 1.42em;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .best__heading {
      font-size: 52px; } }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .best__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.promo__item {
  margin-right: 1.0625rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .promo__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      margin-bottom: 50px; } }
  .promo__item:last-child {
    margin-right: 0; }

.promo__pic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5.625rem;
  margin-bottom: 1.875rem; }
  @media screen and (max-width: 480px) {
    .promo__pic {
      width: 10.625rem;
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 15;
      -webkit-flex-grow: 15;
      -ms-flex-positive: 15;
      flex-grow: 15; } }

.promo__icon {
  height: 100%;
  width: 100%; }
  .promo__icon--meat {
    fill: #e45028; }
  .promo__icon--hand {
    fill: #f9b43b; }
  .promo__icon--natural {
    height: 4.6875rem;
    fill: #8ac03e; }

@media screen and (max-width: 480px) {
  .promo__content {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 33;
    -webkit-flex-grow: 33;
    -ms-flex-positive: 33;
    flex-grow: 33;
    padding-left: 0.75rem; } }

.promo__title {
  margin-top: 0;
  margin-bottom: 1.0625rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.17em;
  font-family: Lifehack, Helvetica, Arial, sans-serif; }

.promo__description {
  line-height: 1.71em; }
  .promo__description p {
    padding: 0;
    margin: 0; }

.slider {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b));
  background-image: -webkit-linear-gradient(top, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  background-image: -o-linear-gradient(top, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  background-image: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);
  color: #ffffff; }

.slider__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.slider__content {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  -o-transition: transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease; }

.slider__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .slider__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .slider__column--left {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 1.25rem; }
    @media screen and (max-width: 768px) {
      .slider__column--left {
        width: 64%;
        margin-right: 0;
        margin-bottom: 45px; } }
    @media screen and (max-width: 480px) {
      .slider__column--left {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin-bottom: 35px; } }
  @media screen and (max-width: 768px) {
    .slider__column--right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 75%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slider__column--right {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; } }

.slider__icons {
  position: absolute;
  top: 0;
  bottom: -80px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .slider__icons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      bottom: initial;
      right: 0; } }

@media screen and (min-width: 769px) {
  .slider__structure-wrapper:hover .structure__table {
    top: 0; } }

.slider__structure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background-color: #f08c33; }

.structure__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.structure__icon {
  width: 100%;
  height: 2.75rem;
  margin-bottom: 0.5rem;
  fill: #ffffff; }

.structure__table {
  position: absolute;
  top: -99999px;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 270px;
  padding: 18px 22px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: top 0.2s ease-in;
  -o-transition: top 0.2s ease-in;
  transition: top 0.2s ease-in;
  z-index: 100; }
  .structure__table--active {
    top: 0; }
  @media screen and (max-width: 768px) {
    .structure__table {
      left: 5.625rem;
      right: 3.75rem;
      min-width: 16.25rem;
      width: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; } }
  @media screen and (max-width: 480px) {
    .structure__table {
      right: 0; } }

@media screen and (max-width: 768px) {
  .structure__close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: default; }
    .structure__close::before, .structure__close::after {
      position: absolute;
      top: 0;
      left: 50%;
      height: 20px;
      width: 2px;
      border-radius: 3px;
      background-color: #c1c2c2;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      content: ''; }
    .structure__close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .structure__close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .structure__close::before, .structure__close::after {
      background-color: #e45028; } }

.structure__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .structure__list {
      max-width: 230px; } }
  @media screen and (max-width: 480px) {
    .structure__list {
      max-width: 200px; } }

.structure__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  margin-bottom: 18px;
  color: #2f3234; }
  .structure__item b {
    font-weight: 500;
    line-height: calc(24 / 14); }
  .structure__item span {
    margin-left: auto; }

.structure__item-icon {
  width: 44px;
  height: 100%;
  margin-right: 25px; }
  .structure__item-icon--beef, .structure__item-icon--sauce {
    fill: #e45028; }
  .structure__item-icon--buns, .structure__item-icon--cheese {
    fill: #f9b43b; }
  .structure__item-icon--salad, .structure__item-icon--cucumber {
    fill: #8ac03e; }

.slider__image {
  margin-top: 4.375rem; }
  @media screen and (max-width: 480px) {
    .slider__image {
      width: 84%;
      margin-top: 35px; } }

.slider__pic {
  max-width: 100%; }

.slider__kalories {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3.75rem;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .slider__kalories {
      margin-left: auto; } }

.slider__kalories-icon {
  width: 100%;
  height: 3.75rem;
  fill: #ffffff; }

.slider__kalories-number {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  text-align: center; }

.slider__title {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #ffffff;
  line-height: calc(64 / 72);
  margin-top: -0.5rem;
  margin-bottom: 2.375rem; }
  @media screen and (max-width: 768px) {
    .slider__title {
      margin-bottom: 27px; } }
  @media screen and (max-width: 480px) {
    .slider__title {
      width: 90%;
      margin-bottom: 17px;
      font-size: 50px;
      line-height: 1.2; } }

.slider__text {
  margin-bottom: 1.375rem;
  line-height: calc(24 / 14); }
  .slider__text p {
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 768px) {
    .slider__text {
      margin-bottom: 38px; } }

.slider__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.slider__price {
  font-size: 1.875rem;
  line-height: 1;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  color: #e45028;
  letter-spacing: -0.0625rem;
  text-transform: uppercase; }

.slider__price-number {
  font-size: 4.5rem; }
  @media screen and (max-width: 480px) {
    .slider__price-number {
      font-size: 50px; } }

.slider__btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-left: 1.875rem; }
  .slider__btn:hover {
    background-color: #c1401e; }

.slider__arrow {
  width: 14px;
  height: 29px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.team {
  position: relative;
  background: url("../img/bg/team-bg.jpg") no-repeat center top;
  background-size: cover; }

.team__section {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 49.09090909%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%; } }

.team__content-wrapper {
  width: 71%;
  height: 93%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .team__content-wrapper {
      width: 47%; } }
  @media screen and (max-width: 480px) {
    .team__content-wrapper {
      width: 66%; } }

.team__title {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
  margin-top: 0;
  margin-bottom: 3.125rem; }
  @media screen and (max-width: 768px) {
    .team__title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .team__title {
      font-size: 50px; } }

.team-acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.team-acco__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0.375rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  .team-acco__item--active .team-acco__title {
    color: #f9b43b; }
    .team-acco__item--active .team-acco__title::before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
  .team-acco__item--active .team-acco__content {
    height: auto;
    margin-bottom: 0.3125rem;
    overflow: auto; }
    @media screen and (max-width: 768px) {
      .team-acco__item--active .team-acco__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

.team-acco__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .team-acco__title {
      font-size: 24px; } }
  .team-acco__title::before {
    width: 0;
    height: 0;
    margin-right: 0.625rem;
    border: 0.3125rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    content: ''; }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  margin-top: 0.9375rem;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .team-acco__content {
      text-align: center; } }

.team-acco__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team-acco__image {
      margin-bottom: 20px; } }

.team-acco__avatar {
  position: relative;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 1.0625rem;
  border-radius: 50%;
  overflow: hidden; }

.team-acco__pic {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.team-acco__desc {
  padding: 0 0.3125rem;
  color: #ffffff; }

.team-acco__desc-title {
  font-weight: bold; }

.team-acco__desc-text p {
  line-height: calc(24 / 14); }

.menu {
  position: relative;
  background: #2f3234 url("../img/bg/menu-bg.jpg") center no-repeat;
  background-size: cover; }

.menu__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #ffffff;
  height: 42%;
  padding-left: 8.63636363%; }

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media screen and (max-width: 768px) {
    .menu-acco {
      left: 0; } }

.menu-acco__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease; }
  .menu-acco__item--active .menu-acco__title {
    color: #f9b43b; }
  @media screen and (max-width: 480px) {
    .menu-acco__item--active .menu-acco__close {
      top: 26px; } }
  @media screen and (max-width: 768px) {
    .menu-acco__item--active {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative; } }
  @media screen and (max-width: 480px) {
    .menu-acco__item--active {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100; } }
  .menu-acco__item--active .menu-acco__content {
    width: 33.75rem;
    background: rgba(47, 50, 52, 0.9); }
    @media screen and (max-width: 768px) {
      .menu-acco__item--active .menu-acco__content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 80px;
        width: auto; } }

.menu-acco__content {
  width: 0;
  height: 100%;
  line-height: 1.71;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .menu-acco__content p {
    margin: 0;
    padding: 3.75rem 2.1875rem; }
    @media screen and (max-width: 400px) {
      .menu-acco__content p {
        margin-top: 10px; } }

.menu-acco__close {
  position: absolute;
  top: -99999px;
  right: 26px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: default; }
  .menu-acco__close::before, .menu-acco__close::after {
    position: absolute;
    top: 0;
    left: 50%;
    height: 20px;
    width: 3px;
    border-radius: 3px;
    background-color: #c1c2c2;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    content: ''; }
  .menu-acco__close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu-acco__close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.menu-acco__heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5rem; }

.menu-acco__heading--meat {
  background: #000000 url("../img/bg/menu_meat-bg.jpg") center no-repeat;
  background-size: cover; }

.menu-acco__heading--veg {
  background: #000000 url("../img/bg/menu_veg-bg.jpg") center no-repeat;
  background-size: cover; }

.menu-acco__heading--diet {
  background: #000000 url("../img/bg/menu_diet-bg.jpg") center no-repeat;
  background-size: cover; }

.menu-acco__title {
  font-size: 2.5rem;
  line-height: 1.6;
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.reviews {
  background: #000000; }

.reviews__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none; }

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%;
      text-align: center; } }
  .reviews__item .reviews__item-image {
    position: absolute;
    top: 99999px; }
  .reviews__item .reviews__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    background-color: rgba(20, 20, 20, 0.7);
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .reviews__item .reviews__hover-content {
    width: 85%; }
    .reviews__item .reviews__hover-content p {
      margin-top: 0.9375rem;
      margin-bottom: 0.625rem;
      line-height: 1.75em; }
  .reviews__item:hover {
    -webkit-filter: none;
    filter: none; }
    .reviews__item:hover .reviews__hover {
      opacity: 1; }
      @media screen and (max-width: 480px) {
        .reviews__item:hover .reviews__hover {
          opacity: 0; } }

.reviews__name {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  line-height: 2em; }

.reviews__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #1f2122;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  .reviews__link:hover {
    background-color: #2f3234; }

.order {
  background: #000000 url("../img/bg/order-bg.jpg") center no-repeat;
  background-size: cover; }

.order__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 85%; }

.order__title {
  font-family: Gagalin, Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 3.625rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 50px; } }

.form__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__columns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 48.93617021%; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 65%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 100%; } }
  .form__column--left {
    margin-right: 1.25rem; }
    @media screen and (max-width: 768px) {
      .form__column--left {
        margin: 0; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem; }

.form__input {
  width: 100%;
  padding: 0.5625rem;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 0.4375rem;
  border: 0; }

.form__input-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem; }
  .form__input-wrapper:last-child {
    margin-right: 0; }

.form__input-lable {
  display: block;
  margin-bottom: 0.3125rem;
  color: #ffffff; }

.form__textarea {
  width: 100%;
  height: 7.125rem;
  padding: 0.5625rem;
  margin-bottom: 0.5625rem;
  resize: none; }

.form__textarea-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .form__bottom {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__radios {
  margin-bottom: 1.5625rem; }

.form__label {
  position: relative;
  margin-right: 1.375rem;
  padding-left: 1.5625rem;
  color: #ffffff; }

.form__radio {
  display: none; }
  .form__radio:checked + .form__radio-indicator::before {
    opacity: 1; }

.form__radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #ffffff; }
  .form__radio-indicator::before {
    opacity: 0;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: #e45028;
    content: ''; }

.form__checkbox-label {
  margin-bottom: 1.25rem; }

.form__checkbox-field {
  width: 0.9375rem;
  height: 0.9375rem;
  fill: #ffffff;
  stroke: none; }

.form__checkbox {
  display: none; }
  .form__checkbox:checked + .form__checkbox-indicator::before, .form__checkbox:checked + .form__checkbox-indicator::after {
    opacity: 1; }

.form__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: #ffffff; }
  .form__checkbox-indicator::before, .form__checkbox-indicator::after {
    content: '';
    position: absolute;
    bottom: 0.125rem;
    display: block;
    width: 0.1875rem;
    background-color: #e45028;
    opacity: 0; }
  .form__checkbox-indicator::before {
    left: 0.3125rem;
    height: 0.4375rem;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  .form__checkbox-indicator::after {
    left: 0.5rem;
    height: 0.625rem;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg); }

.form__submit {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer; }
  .form__submit:hover {
    background-color: #c1401e; }

.form__clear {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 0.9375rem;
  font-weight: 500;
  font-size: 0.8125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  border: none;
  text-transform: none;
  text-decoration: none;
  cursor: pointer; }
  .form__clear:hover {
    background-color: transparent; }

.map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.map__image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url("../img/bg/map.jpg") center top no-repeat;
  background-size: cover; }
