.best {
  background: url(../img/bg/promo-bg.jpg) no-repeat center;
  background-size: cover;

  .best__heading {
    @extend %title;
    margin-top: 51px;
    /*margin-bottom: 64px;*/
    line-height: 1.42em;
    color: #2f3234;
    text-align: center;
  }

  .best__content {
    display: flex;
    align-items: center;
    height: 40.95744681%;
  }
}

.promo {
  .promo__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .promo__item {
    position: relative;
    width: 300px;
    padding-top: 120px;
    text-align: center;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 89px;
      content: '';
      background-size: cover;
    }

    .promo__item--meat::before {
      background: url(../img/bg/promo-meat.png) center no-repeat;
    }

    .promo__item--handmade::before {
      background: url(../img/bg/promo-hand.png) center no-repeat;
    }

    .promo__item--natural::before {
      background: url(../img/bg/promo-natural.png) center no-repeat;
    }
  }

  .promo__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17em;
    font-family: $lifehack;
  }

  .promo__description {
    line-height: 1.71em;
  }
}
