.best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/bg/promo-bg.jpg) no-repeat center;
  background-size: cover;

  .best__heading {
    @include title($grey);
    margin-top: 51px;
    /*margin-bottom: 64px;*/
    line-height: 1.42em;
    text-align: center;
  }

  .best__content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.promo {
  .promo__item {
    flex: 1;
    margin: 0 15px;
    text-align: center;
  }

  .promo__pic {
    height: 90px;
  }

  .promo__icon {
    height: 100%;
    width: 100%;

    &--meat {
      fill: $red;
    }

    &--hand {
      fill: $yellow;
    }

    &--natural {
      fill: $green;
    }
  }

  .promo__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17em;
    font-family: $lifehack;
  }
  .promo__description {
    line-height: 1.71em;

    p {
      padding: 0;
      margin: 0;
    }
  }
}