.best {
  background: url(../img/bg/promo-bg.jpg) no-repeat center;
  background-size: cover;
}

.best__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 69%;

  @include phones {
    height: 90%;
  }
}

.best__heading {
  @include title($grey);
  margin-top: rem(51px);
  margin-bottom: rem(64px);
  line-height: 1.42em;
  text-align: center;

  @include phones {
    font-size: 52px;
  }
}

.best__content {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.promo__item {
  margin-right: rem(17px);
  flex: 1;
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
    margin-bottom: 50px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.promo__pic {
  display: flex;
  align-items: center;
  height: rem(90px);
  margin-bottom: rem(30px);

  @include phones {
    width: rem(170px);
    flex-basis: 0;
    flex-grow: 15;
  }
}

.promo__icon {
  height: 100%;
  width: 100%;

  &--meat {
    fill: $red;
  }

  &--hand {
    fill: $yellow;
  }

  &--natural {
    height: rem(75px);
    fill: $green;
  }
}

.promo__content {
  @include phones {
    flex-basis: 0;
    flex-grow: 33;
    padding-left: rem(12px);
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: rem(17px);
  font-weight: 500;
  font-size: rem(24px);
  line-height: 1.17em;
  font-family: $lifehack;
}

.promo__description {
  line-height: 1.71em;
  
  p {
    padding: 0;
    margin: 0;
  }
}