.menu {
  position: relative;
  background: $grey url('../img/bg/menu-bg.jpg') center no-repeat;
  background-size: cover;
}

.menu__title {
  display: flex;
  align-items: center;
  @include title($white);
  height: 42%;
  padding-left: 8.63636363%;
}

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
}

.menu-acco__item {
  display: flex;
  color: $white;
  cursor: pointer;

  &--active {
    .menu-acco__title {
      color: $yellow;
    }

    @include phones {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100;
    }

    .menu-acco__content {
      width: rem(540px);
      overflow: auto;
      background: rgba($grey, 0.93);
      @include tablets {
        flex: 1;
        width: auto;
      }
    }
  }
}

.menu-acco__content {
  width: 0;
  height: 100%;
  line-height: 1.71;
  overflow: hidden;

  p {
    margin: 0;
    padding: rem(60px) rem(35px);
  }
}

.menu-acco__close {
  @include close(26px, 26px, 20px, 3px);
  
  @include phones {
    display: block;
  }
}

.menu-acco__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(80px);
}

.menu-acco__heading--meat {
  background: #000000 url('../img/bg/menu_meat-bg.jpg') center no-repeat;
  background-size: cover;
}

.menu-acco__heading--veg {
  background: #000000 url('../img/bg/menu_veg-bg.jpg') center no-repeat;
  background-size: cover;
}

.menu-acco__heading--diet {
  background: #000000 url('../img/bg/menu_diet-bg.jpg') center no-repeat;
  background-size: cover;
}

.menu-acco__title {
  font-size: rem(40px);
  line-height: 1.6;
  font-family: $gagalin;
  white-space: nowrap;
  text-transform: uppercase;
  transform: rotate(-90deg);
}