.reviews {
  background: #000000;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

  .reviews__item-image {
    position: absolute;
    top: -99999px;
  }

  .reviews__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    transition: opacity 0.3s ease;
  }

  .reviews__hover-content {
    width: 85%;

    p {
      margin-top: 15px;
      margin-bottom: 10px;
      line-height: 1.75em;
    }
  }

  &:hover {
    filter: none;

    .reviews__hover {
      background-color: rgba(20, 20, 20, 0.7);
      opacity: 1;
    }
  }
}

.reviews__name {
  font-family: $gagalin;
  line-height: 2em;
}

.reviews__link {
  @include btn(#1f2122, #2f3234);
}