@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: 50%;
  background-color: $color;
}

@function rem($px) {
  @return $px / 16px + 0rem;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(97px);
  min-height: 35px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

%title {
  font-family: $gagalin;
  font-size: 72px;
}
