//colors
$darkRed: #c1401e;
$red: #e45028;
$yellow: #f9b43b;
$grey: #2f3234;
$white: #ffffff;
$green: #8ac03e;

//fonts
$gagalin: Gagalin, Helvetica, Arial, sans-serif;
$lifehack: Lifehack, Helvetica, Arial, sans-serif;

//resolutions
$desktop: 1200px;
$tablets: 778px;
$phones: 480px;
$small-phones: 400px;
