html, html::before, html::after {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  @include ubuntu;
  font-size: 14px;
  line-height: 1.42;
  color: $grey;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 960px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.section {
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px;
  height: 100vh;
}

.section__wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    /*width: 85.454545454545%;*/
    height: 100%;
  }
