.section-switch {
  position: fixed;
  top: 90px;
  right: 48px;
}

.section-switch__item {
  display: flex;
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &::after {
    display: block;
    margin: auto;
    content: '';
    @include circle(6px, $white);
  }
  
  &--active, &:hover {
    border-color: #ffffff;
  }
}