.section-switch {
  position: fixed;
  top: rem(90px);
  right: rem(48px);

  @include tablets {
    display: none;
  }
}

.section-switch__item {
  display: flex;
  width: rem(16px);
  height: rem(16px);
  margin-bottom: rem(5px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  cursor: pointer;
  
  &::after {
    display: block;
    margin: auto;
    content: '';
    @include circle(rem(6px), $white);
  }
  
  &--active, &:hover {
    border-color: #ffffff;
  }
}