.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8461538%;
}

.header__logo {
  max-width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  font-weight: 500;
  font-size: 13px;
  /*width: 68.08510638%;*/
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 543px;
  /*width: 84.84375%;*/
  list-style: none;
}

.main-nav__item {
  position: relative;
}

.main-nav__item::after {
  position: absolute;
  top: 8px;
  right: -20px;
  display: block;
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
  content: '';
}

.main-nav__item:last-child::after {
  display: none;
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  /*width: 15.15625%;*/
  min-height: 35px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #c1401e;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e45028;
}